.footer_style{
    position: absolute;
    width: 1728px;
    height: 39px;
    left: 0px;
    top: 1078px;

    background: #2E0039;
}

.footer_list{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 740px;
    margin-top: 10px;
}

.footer_list li{
    width: 108px;
    height: 18px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    list-style-type: none;
    
}

@media only screen and (min-width: 320px) and (max-width: 1200px){
    .footer_list{
        margin-right: 262px;
    margin-left: 75px;
    }
}